In [1]:
import requests
import json

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import time
import seaborn as sns

In [3]:
data_frame = pd.read_csv('Crime_Data_2010_2017.csv')
df = data_frame.copy()

In [4]:
df = df.drop(["Crime Code 1", "Crime Code 2", "Crime Code 3", "Crime Code 4", "MO Codes", "Date Reported",
              "Premise Code", "Premise Description", "Weapon Used Code","Cross Street", "Status Code",
              "Status Description"], axis = 1)

In [5]:
df = df[df["Crime Code Description"].notnull()]
df = df.drop('Crime Code', axis = 1)

In [6]:
df.head(5)

,DR Number,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code Description,Victim Age,Victim Sex,Victim Descent,Weapon Description,Address,Location
0,1208575,03/11/2013,1800,12,77th Street,1241,INTIMATE PARTNER - SIMPLE ASSAULT,30.0,F,W,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",6300 BRYNHURST AV,"(33.9829, -118.3338)"
1,102005556,01/22/2010,2300,20,Olympic,2071,VEHICLE - STOLEN,NaN,NaN,NaN,NaN,VAN NESS,"(34.0454, -118.3157)"
2,418,03/18/2013,2030,18,Southeast,1823,VEHICLE - STOLEN,12.0,NaN,NaN,NaN,200 E 104TH ST,"(33.942, -118.2717)"
3,101822289,11/10/2010,1800,18,Southeast,1803,VEHICLE - STOLEN,NaN,NaN,NaN,NaN,88TH,"(33.9572, -118.2717)"
4,42104479,01/04/2014,2300,21,Topanga,2133,VANDALISM - MISDEAMEANOR ($399 OR UNDER),84.0,M,W,NaN,7200 CIRRUS WY,"(34.2009, -118.6369)"

In [7]:
df.columns

Index(['DR Number', 'Date Occurred', 'Time Occurred', 'Area ID', 'Area Name',
       'Reporting District', 'Crime Code Description', 'Victim Age',
       'Victim Sex', 'Victim Descent', 'Weapon Description', 'Address',
       'Location '],
      dtype='object')

In [8]:
df.rename(columns = {'DR Number':'DRNumber', 'Date Occurred':'DateOccurred', 'Time Occurred':'TimeOccurred',
                    'Area ID':'AreaID', 'Area Name':'AreaName', 'Reporting District':'ReportingDistrict', 
                     'Crime Code Description':'CCDescription', 'Victim Age':'VictimAge', 'Victim Sex':'VictimSex', 
                     'Victim Descent':'VictimDescent', 'Weapon Description':'WeaponDescription', 
                     'Address':'Address','Location ':'Location'}, inplace = True)

In [9]:
df = df.fillna(0)

In [39]:
upload = df.iloc[:100000, :]

In [40]:
my_dict = upload.to_dict('index')

In [41]:
url = 'https://finalproject-22bb5.firebaseio.com/data.json'
requests.put(url, json = my_dict)
#requests.delete(url)

for i in range(1, 16):
    if i == 15:
        upload1 = df.iloc[1500000:, :]
    else:
        upload1 = df.iloc[i*100000:(i+1)*1000000, :]
    
    my_dict1 = upload1.to_dict('index')
    requests.patch(url, json = my_dict1)
    print(i + "is done")

In [42]:
upload2 = df.iloc[100000:200000, :]
my_dict2 = upload2.to_dict('index')
requests.patch(url, json = my_dict2)

In [43]:
upload3 = df.iloc[200000:300000, :]
my_dict3 = upload3.to_dict('index')
requests.patch(url, json = my_dict3)

In [44]:
upload4 = df.iloc[300000:400000, :]
my_dict4 = upload4.to_dict('index')
requests.patch(url, json = my_dict4)

In [45]:
upload5 = df.iloc[400000:500000, :]
my_dict5 = upload5.to_dict('index')
requests.patch(url, json = my_dict5)

In [46]:
upload6 = df.iloc[500000:600000, :]
my_dict6 = upload6.to_dict('index')
requests.patch(url, json = my_dict6)

In [47]:
upload7 = df.iloc[600000:700000, :]
my_dict7 = upload7.to_dict('index')
requests.patch(url, json = my_dict7)

In [48]:
upload8 = df.iloc[700000:800000, :]
my_dict8 = upload8.to_dict('index')
requests.patch(url, json = my_dict8)

In [49]:
upload9 = df.iloc[800000:900000, :]
my_dict9 = upload9.to_dict('index')
requests.patch(url, json = my_dict9)

In [50]:
upload10 = df.iloc[900000:1000000, :]
my_dict10 = upload10.to_dict('index')
requests.patch(url, json = my_dict10)

In [51]:
upload11 = df.iloc[1000000:1100000, :]
my_dict11 = upload11.to_dict('index')
requests.patch(url, json = my_dict11)

In [52]:
upload12 = df.iloc[1100000:1200000, :]
my_dict12 = upload12.to_dict('index')
requests.patch(url, json = my_dict12)

In [53]:
upload13 = df.iloc[1200000:1300000, :]
my_dict13 = upload13.to_dict('index')
requests.patch(url, json = my_dict13)

In [54]:
upload14 = df.iloc[1300000:1400000, :]
my_dict14 = upload14.to_dict('index')
requests.patch(url, json = my_dict14)

In [55]:
upload15 = df.iloc[1400000:1500000, :]
my_dict15 = upload15.to_dict('index')
requests.patch(url, json = my_dict15)

In [56]:
upload16 = df.iloc[1500000:, :]
my_dict16 = upload16.to_dict('index')
requests.patch(url, json = my_dict16)